/* RESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* VARIABLES */
:root {
  --bg-left-color: rgba(63, 205, 224, 0.068);
  --bg-right-color: rgba(55, 72, 79, 0.109);
  --h-color: rgb(33, 187, 213);
  --bg-body-color: rgba(233, 79, 202, 0.194);
  --bg-left-dark-color: rgba(55, 72, 79, 0.15);
}
/* COLORS */
.school_logo,
.student_enrollment {
  background-color: var(--bg-left-color);
}
#student_name,
#student_surname,
#student_age {
  background-color: white;
}
/* GENERAL */
body {
  font-family: "Lato", sans-serif;
  /* background-color: var(--bg-body-color); */
}

/* OUTSIDE CONTAINER */
.outside_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
/* MAIN CONTAINER */
.main_container {
  border: 1px solid lightblue;

  display: grid;
  width: 1200px;
  grid-template-columns: 20% 30% 50%;
  grid-template-areas:
    "logo search_student upload_grades"
    "student_registration full_list full_list";
}

/* GRID AREAS */
.school_logo {
  grid-area: logo;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}
.student_enrollment {
  grid-area: student_registration;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
.student_search {
  grid-area: search_student;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--bg-left-dark-color);
}

.student_grading {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
  background-color: var(--bg-right-color);
}
.student_grading_form {
  grid-area: upload_grades;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  row-gap: 5px;
}

/* STUDENTS LIST AREA */
.list_display {
  grid-area: full_list;
  padding: 20px;
}
.list_display_form {
  text-align: center;
}
.list_display_form > h3 {
  margin-bottom: 10px;
  color: var(--h-color);
}

input[type="radio"] {
  margin-left: 3px;
  margin-right: 15px;
}

.list_display_container {
  margin-top: 20px;
  width: 100%;
  min-height: 20px;
  background-color: var(--bg-right-color);
}

/* ENROLLMENT REGISTRATION */
.enrollment_label {
  display: block;
  margin: 5px 0 2px 0;
}

/* HEADINGS */
h2 {
  margin: 20px auto;
  color: var(--h-color);
}
/* INPUTS */
input {
  padding: 3px;
  background-color: aliceblue;
  border: 1px solid lightgray;
  border-radius: 3px;
}

.student_search_btn,
.upload_grades_btn,
.student_enrollment_btn {
  display: block;
  margin-top: 10px;
  background-color: white;
  color: var(--h-color);
  padding: 8px;
  font-weight: bold;
  border: 1px solid lightblue;
  border-radius: 15px;
}
.student_search_btn:hover,
.upload_grades_btn:hover,
.student_enrollment_btn:hover {
  background-color: var(--h-color);
  color: white;
  cursor: pointer;
}
.student_search_input {
  width: 150px;
  margin-left: 5px;
}

.student_search_result {
  display: flex;
  margin: 15px 0;
}

.student_info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px;
}

/* GRADES DISPLAY */
li {
  list-style: none;
}

table {
  width: 100%;
  height: 40px;
}

th {
  background-color: var(--bg-left-color);
  color: black;
}
.ss_id {
  width: 10%;
}
.ss_name,
.ss_surname,
.ss_average {
  width: 29%;
}

span {
  display: inline-block;
  text-align: center;
}
